// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumb {
    float: left;
    width: 100px;
    height: auto;
    margin-right: 6px;
}

.source {
    width: 150px;
    display: inline;
    height: auto;
    
}

.panel {
    border-color: #50FFFC;
}

.panel h4 a {
    color: #44A0FF;
}

.panel a:hover {
    background-color: #fff;
    text-decoration: none;
}