<!DOCTYPE html>
<html>
  <head>
    <title>SocialBasin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <h1>SocialBasin.com</h1>
    </div>
    <%= yield %>
    <hr>
    <div id="footer">
      &copy;2016 Durand Street LLc.
    </div>
  </body>
</html>
